@import "../../styles/mixins";
@import "../../styles/colors";

.list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include bp-xs {
    flex-direction: column;
    text-align: center;
  }

  li a {
    color: $font-color;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 4px 20px;
    margin: 12px;
    transition: border-bottom-color 0.3s;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $font-color;
    }

    &.active {
      border-bottom: 1px solid $font-color;
    }
  }
}
